appdirs
arandr
asn1crypto
atomicwrites
autopep8
backcall
btrfsutil
cachecontrol
cachetools
colorama
configargparse
contextlib2
distro
ecdsa
electrum
file-magic
html5lib
importlib-metadata
ipdb
ipython-genutils
isc
jedi
jsonrpclib-pelix
lensfun
lockfile
louis
markdown
matplotlib
matplotlib-inline
matrix-nio
more-itertools
ordered-set
packaging
pbkdf2
peewee
pep517
pexpect
pickleshare
pip-chill
pivy
ply
progress
prompt-toolkit
ptyprocess
pwquality
pybind11
pycryptodomex
pygments
pyopenssl
pyqt5
pyside2
pysocks
python-olm
pytoml
ranger-fm
reflector
resolvelib
retrying
scipy
sip
speedtest-cli
team
telethon
terminator
tomli
validate
virtualenv
webcolors
websocket-client
wxpython
youtube-dl
