arandr
asn1crypto
autopep8
backcall
btrfsutil
cachecontrol
cffi
colorama
contextlib2
decorator
distro
ecdsa
electrum
html5lib
importlib-metadata
ipython
ipython-genutils
isc
jedi
jsonrpclib-pelix
lensfun
lockfile
markdown
matplotlib
matplotlib-inline
more-itertools
ordered-set
packaging
pbkdf2
pep517
pexpect
pickleshare
pip-chill
pivy
ply
progress
prompt-toolkit
ptyprocess
pwquality
pyaes
pybind11
pycryptodomex
pygments
pyopenssl
pyqt5
pyside2
pysocks
pytoml
ranger-fm
reflector
resolvelib
retrying
scipy
sip
speedtest-cli
team
terminator
validate
virtualenv
websocket-client
wxpython
youtube-dl
