arandr
asn1crypto
autopep8
backcall
btrfsutil
cachecontrol
colorama
contextlib2
decorator
distro
html5lib
importlib-metadata
ipython
ipython-genutils
isc
jedi
lensfun
lockfile
matplotlib
more-itertools
ordered-set
packaging
pep517
pexpect
pickleshare
pip-chill
pivy
ply
progress
prompt-toolkit
ptyprocess
pwquality
pybind11
pygments
pyopenssl
pyqt5
pytoml
ranger-fm
reflector
resolvelib
retrying
scipy
sip
speedtest-cli
team
terminator
traitlets
validate
virtualenv
wxpython
youtube-dl
