'body':
  'ctrl-b "': 'pane:split-down-and-copy-active-item'
  'ctrl-b %': 'pane:split-right-and-copy-active-item'
  'ctrl-b down': 'window:focus-pane-below'
  'ctrl-b up': 'window:focus-pane-above'
  'ctrl-b left': 'window:focus-pane-on-left'
  'ctrl-b right': 'window:focus-pane-on-right'
  'ctrl-b n': 'tab-switcher:next'
  'ctrl-b p': 'tab-switcher:previous'
'atom-workspace':
  'ctrl-b s': 'terminal:open'
'.platform-linux':
  'ctrl-B': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-shift-3':'tree-view:toggle'
'.workspace':
  'ctrl-shift-4':'github:toggle-git-tab'
  'ctrl-shift-2':'github:toggle-github-tab'
