"*":
  "atom-beautify":
    c: {}
    cpp: {}
    executables:
      uncrustify: {}
  "atom-clock":
    dateFormat: "[Time:] H:mm  D/M/Y"
    showClockIcon: true
  "atom-latex":
    build_after_save: false
    compiler_param: "-interaction=indent "
    custom_toolchain: "%TEX %ARG %DOC.tex"
    preview_after_build: "View in PDF viewer tab"
    toolchain: "custom toolchain"
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    projectHome: "~/Projects"
    telemetryConsent: "no"
  editor:
    fontFamily: "DejaVu Sans Mono"
    fontSize: 18
    lineHeight: 1.4
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "8e6f4904-95f0-4e50-9e4b-ae32cd797acb"
  "gpp-compiler": {}
  minimap: {}
  "python-autopep8": {}
  "terminal-plus":
    core:
      autoRunCommand: "ls"
    style: {}
    toggles: {}
  "terminal-tab":
    shellSettings: {}
  "vim-mode-plus":
    askOptInToEditorScrollPastEnd: false
  welcome:
    showOnStartup: false
