'body':
  'ctrl-q': 'core:close'
  'ctrl-b "': 'pane:split-down-and-copy-active-item'
  'ctrl-b %': 'pane:split-right-and-copy-active-item'
  'ctrl-b down': 'window:focus-pane-below'
  'ctrl-b up': 'window:focus-pane-above'
  'ctrl-b left': 'window:focus-pane-on-left'
  'ctrl-b right': 'window:focus-pane-on-right'
'atom-workspace':
  'ctrl-w': 'editor:delete-to-beginning-of-word'
  'ctrl-b s': 'terminal:open'
'.platform-linux':
  'ctrl-B': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-n':'tree-view:toggle'
'.workspace':
  'ctrl-shift-4':'github:toggle-git-tab'
  'ctrl-shift-2':'github:toggle-github-tab'
'.terminal-view':
  'ctrl-b S': 'terminal:close'
