appdirs
arandr
autopep8
backcall
btrfsutil
cachecontrol
colorama
configobj
contextlib2
decorator
distlib
distro
html5lib
importlib-metadata
ipython
ipython-genutils
isc
jedi
lensfun
lockfile
matplotlib
more-itertools
ordered-set
pafy
pandas
pep517
pexpect
pickleshare
pip-autoremove
pip-chill
ply
progress
prompt-toolkit
psutil
ptyprocess
pwquality
pycairo
pygobject
pyqt5
pytoml
ranger-fm
reflector
retrying
scipy
sip
speedtest-cli
team
terminator
toml
traitlets
twine
virtualenv
youtube-dl
