arandr
autopep8
backcall
btrfsutil
cachecontrol
configobj
contextlib2
cv
decorator
defusedxml
distro
html5lib
hyperdash
importlib-metadata
ipython
ipython-genutils
isc
jedi
lensfun
lockfile
macc
matplotlib
more-itertools
ordered-set
pafy
pandas
passlib
pep517
pexpect
pickleshare
pip-autoremove
pip-chill
ply
progress
prompt-toolkit
psutil
ptyprocess
pwquality
pycairo
pygobject
pyqt5
pytoml
ranger-fm
reflector
resolvelib
retrying
sip
sklearn
speedtest-cli
team
terminator
traitlets
twine
urwid
virtualenv
vobject
xmppy
youtube-dl
