airdrop-ng
airgraph-ng
apparmor
appdirs
application-utility
arandr
asn1crypto
auto-cpufreq
autopep8
backcall
btrfsutil
cachecontrol
catfish
ceph-volume
cephfs-shell
certifi
cffi
contextlib2
decorator
dnspython
gufw
html5lib
importlib-metadata
ipython
ipython-genutils
isc
keyutils
khal
lensfun
libapparmor
louis
markdown
matplotlib
matplotlib-inline
menulibre
more-itertools
mugshot
netsnmp-python
npyscreen
ordered-set
packaging
pacman-mirrors
pep517
pexpect
pickleshare
pip-chill
pivy
ply
progress
prompt-toolkit
ptyprocess
pwquality
pybind11
pygments
pyopenssl
pyqt5
pyside2
pysmbc
python-distutils-extra
rados
ranger-fm
rbd
reportlab
resolvelib
retrying
rgw
rshell
scipy
speedtest-cli
team
terminator
thonny
tomli
typed-ast
udiskie
ufw
validate
virtualenv
wxpython
youtube-dl
