airdrop-ng
airgraph-ng
apparmor
appdirs
application-utility
arandr
asciidoc
asn1crypto
autopep8
black
btrfsutil
cachecontrol
catfish
ceph-volume
cephfs-shell
certifi
contextlib2
distro
dnspython
gitpython
gufw
html5lib
importlib-metadata
ipython
ipython-genutils
keyutils
khal
lensfun
libapparmor
lit
louis
manjaro-sdk
markdown
matplotlib
menulibre
more-itertools
mugshot
netsnmp-python
npyscreen
ordered-set
pacman-mirrors
pep517
pip-chill
pivy
ply
progress
ptyprocess
pwquality
pybind11
pyopenssl
pyqt5
pyside2
pyside6
pysmbc
python-distutils-extra
pytz-deprecation-shim
rados
ranger-fm
rbd
reportlab
resolvelib
retrying
rgw
scipy
speedtest-cli
systemd-python
tbb
team
terminator
thonny
typed-ast
udiskie
ufw
validate
virtualenv
wxpython
youtube-dl
